.footer {
    flex-shrink: 0;
    text-align: center;
    background-color: tomato;
    color: white;
  }

  /* #app {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .footer {
    margin-top: auto;
  } */
